# Ensure GitHub recognizes project as Dart/Flutter
*.dart linguist-detectable=true
*.dart linguist-language=Dart

# Ignore build system languages
*.cmake linguist-vendored
*.cpp linguist-vendored
*.c linguist-vendored
*.kt linguist-vendored
*.java linguist-vendored
